.testimonials{
    margin: 80px auto;
    padding: 0 80px;
    position: relative;
}
.next-btn , .back-btn{
    position: absolute;
    top: 50%;
    right: 0;
    background: #212EA0;
    transform: translateY(-50%);
    padding: 15px;
    width: 50px;
    cursor: pointer;
    border-radius: 50%;
}

.back-btn{
    right: auto;
    left: 0;
}

.slider{
    overflow: hidden;
}

.slider ul{
    display: flex;
    overflow-x: hidden;
    width: 200%;
    list-style: none;
    transition: 0.5s;
}

.slider ul li {
    list-style: none;
    padding: 20px;
    width: 50%;
}

.slide{
    box-shadow: 0 0 20px rgba(0,0,0,0.05);
    padding: 50px;
    color: #676767;
    border-radius: 10px;
    line-height: 1.4;
}
.slide img{
    border-radius: 50%;
    border: 4px solid #212EA0;
    width: 65px;
    margin-right: 10px;
}

.user-data{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    font-size: 15px;
}

.user-data h3{
    color: #212EA0;
}

/*--- media query --*/
@media (max-width: 800px) {
    .testimonials{
        padding: 0 40px;
    }
    .next-btn, .back-btn{
        padding: 10px;
        width: 35px;
    }
    .testimonials ul li{
        padding: 10px;
    }
    .slide{
        padding: 10px;
    }
    .slide img{
        border: 3px solid #212EA0;
        width: 50px;
    }
}

@media (max-width: 600px){
    .user-data{
        display: block;
        margin-bottom: 10px;
        font-size: 12px;
    }
    .user-data h3{
        font-size: 16px;
    }
    .slider p{
        font-size: 12px;
    }
}

@media (max-width: 400px){
    .user-data h3{
        font-size: 12px;
    }
    .slider p{
        font-size: 9px;
    }
}