.tittle{
    text-align: center;
    color: #212EA0;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 70px 0 80px;
}

.tittle h2{
    font-size: 32px;
    text-transform: none;
    margin-top: 5px;
    color: #000F38;
}